In [21]:
# Import necessary libraries
from bs4 import BeautifulSoup as bs
import requests as rqs
import csv
import pandas as pd

In [22]:
url="https://www.flipkart.com/search?q=laptop&sid=6bo%2Cb5g&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_6_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_6_na_na_na&as-pos=1&as-type=RECENT&suggestionId=laptop%7CLaptops&requestId=7ec220e8-4f02-4150-9e0b-9e90cf692f4b&as-searchtext=laptop"

In [23]:
product = []
prices = []
ratings = []

In [24]:
response = rqs.get(url)

In [25]:
data = response.text
soup = bs(data, 'html.parser')

In [26]:
for a in soup.findAll('a', href=True, attrs = {'class':'_1fQZEK'}) :
    name = a.find('div', attrs = {'class': '_4rR01T'})
    price = a.find('div', attrs = {'class': '_30jeq3 _1_WHN1'})
    rating = a.find('div', attrs = {'class': '_3LWZlK'})
    
    product.append(name.text)
    prices.append(price.text)
    ratings.append(rating.text)

In [28]:
df = pd.DataFrame({"Product name": product, "Prices": prices, "Ratings": ratings})
df.head()

                                        Product name   Prices Ratings
0  DELL Inspiron Pentium Quad Core - (4 GB/256 GB...  ₹28,590     4.4
1  HP 15s Ryzen 3 Dual Core 3250U - (8 GB/1 TB HD...  ₹42,990     4.4
2  HP 15s Ryzen 3 Dual Core 3250U - (8 GB/1 TB HD...  ₹37,490     4.2
3  HP Core i3 11th Gen - (8 GB/256 GB SSD/Windows...  ₹41,490     4.3
4  ASUS VivoBook Ultra 14 Core i3 11th Gen - (8 G...  ₹45,990     4.4

In [29]:
df.to_csv('products.csv')